.header {
	padding-top: 20px;
	padding-bottom: 10px;
	background-color: $bgColor;
	color: $textColor1;
	&__title {
		margin: 0 0 20px;
		font-size: 22px;
		text-align: center;
	}
	&__subtitle {
		margin: 0 0 5px;
		line-height: 1.5;
	}
}