.comix {
	padding-top: 20px;
	color: $textColor2;
	&__header {
		margin: 0 0 20px;
	}
	&__date {
		margin: 0 0 20px;
		text-align: center;
		font-size: 14px;
	}
	&__title {
		margin: 0;
		text-align: center;
	}
	&__main {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
	}
	&__button {
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		min-width: 50%;
		min-height: 50px;
		background-color: transparent;
		border: none;
		cursor: pointer;
		&::before {
			content: '';
			height: 20px;
			width: 20px;
			border: solid 2px #000;
			border-top: none;
			border-right: none;
		}
		&:hover {
			background-color: #bcf;
		}
		@media (min-width: 768px) {
			min-width: auto;
			flex-grow: 1;
		}
		&_prev {
			&::before {
				transform: rotate(45deg);
			}
			@media (min-width: 768px) {
				order: -1;
			}
		}
		&_next {
			&::before {
				transform: rotate(-135deg);
			}
		}
		&_disable {
			opacity: 0.5;
			cursor: auto;
			pointer-events: none;
			&::after {
				content: '';
				position: absolute;
				top: 0;
				bottom: 0;
				left: 0;
				right: 0;
				z-index: 2;
				pointer-events: none;
			}
		}
	}
	&__img-area {
		width: 100%;
		@media (min-width: 768px) {
			width: 50%;
		}
	}
	&__img {
		width: 100%;
		max-width: 100%;
		height: auto;
	}
	&__transcript-text {
		white-space: pre-wrap;
	}
}